.breadcrumb-item{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    justify-content: center;
    padding-top: 0 !important;
}
ol{
    padding: 1.05rem !important;
}

.col-9 {
    position: relative;

}
.ti{
    font-size: 22px !important;
}
.flex-fill{
    padding-left: 15px;
    padding-top: 15px;
}
/*.fa{*/
/*    font-size: 14px !important;*/
/*}*/
td{
    vertical-align: middle !important;
}
