th {
    vertical-align: middle !important;
}

.nav-link {
    padding: 0 !important;
}

.ti-angle-down {
    font-size: 12px;
    margin-left: 5px;
    font-style: oblique;
}

.disabled span {
    position: relative;
    display: block;
    color: #6c757d;
    background-color: #ffffff !important;
    border: 1px solid #dee2e6 !important;
    padding: .5rem .75rem;
    line-height: 1.25;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #2196f3;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.my-active {
    background-color: #2196f3 !important;
    color: #ffffff !important;
}
